.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: rgba(247, 251, 252, 0.724);
}

.text {
  font-weight: 500;
}
